:root{
  --background-color: #1d1d1d;
}

*{
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  scrollbar-width: none;
  -ms-overflow-style: none;
  color-scheme: dark;
}
body::-webkit-scrollbar {
  display: none;
}
html,
body{
  overflow-x: hidden;
}
body {
  background: var(--background-color);
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}