.helix-wrapper {
    position: fixed;

    top: -100px;
    right: calc(10dvw);

    width: 70dvh;
    width: 70vh;
    max-width: 500px;
    height: 70dvh;
    height: 70vh;
    max-height: 500px;
    overflow: hidden;
    z-index: -1;
}

.helix-container {
    position: absolute;
    overflow: hidden;
    background: transparent;

    top: 0;
    left: 0;

    width: 70dvh;
    width: 70vh;
    max-width: 500px;
    height: 70dvh;
    height: 70vh;
    max-height: 500px;
}

@media (max-width: 1400px) {
    .helix-wrapper {
        right: 75px;
    }
}

@media (max-width: 1000px) {
    .helix-wrapper {
        right: -150px;
    }
}

@media (max-width: 800px) {
    .helix-wrapper {
        right: -225px;
    }
}

@media (max-width: 599px) {
    .helix-wrapper {
        right: -300px;
    }
}