.helix-wrapper {
    position: fixed;
    
    top: -100px;
    right: calc(40% - 250px);

    width: 500px;
    max-width: 500px;
    height: 500px;
    max-height: 500px;
    overflow: hidden;
    z-index: -1;
}

.helix-container {
    position: absolute;
    overflow: hidden;
    background: transparent;

    top: 0;
    left: 0;

    width: 500px;
    max-width: 500px;
    height: 500px;
    max-height: 500px;
}

@media (max-width: 2500px) {
    .helix-wrapper {
        right: calc(35% - 250px);
    }
}
@media (max-width: 1900px) {
    .helix-wrapper {
        right: calc(30% - 250px);
    }
}
@media (max-width: 1400px) {
    .helix-wrapper {
        right: 75px;
    }
}

@media (max-width: 1000px) {
    .helix-wrapper {
        right: -150px;
    }
}

@media (max-width: 800px) {
    .helix-wrapper {
        right: -225px;
    }
}

@media (max-width: 599px) {
    .helix-wrapper {
        right: -300px;
    }
}